{% if blocks is defined and blocks is iterable %}
  <div class="flex flex-col items-center gap-16 lg:gap-20">
    {% for blk in blocks %}
      {% if blk.type is defined %}
        {# prettier-ignore-start #}
        {% include '_blocks/_' ~ blk.type ~ '.twig' ignore missing with { blk: blk } %}
        {# prettier-ignore-end #}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
