<div class="relative flex flex-col items-center gap-8 px-7 -mt-[38px] z-30">
  <a href="/schedule-call.html" class="py-6 text-lg px-14 btn">
    Schedule a Call
  </a>
  <div class="text-lg text-center">
    <strong>Want to talk now?</strong><br class="md:hidden" />
    Call or text <a href="tel:+18008008990">800-800-8990</a>
  </div>
</div>
