<header id="site-header">
	<section class="max-w-screen-narrow mx-auto">
		<div>
			<div class="flex justify-center p-3 font-semibold text-plum bg-plum-lightest md:justify-end md:bg-white md:p-3 md:pb-0">
				<a href="#">CLIENT PORTAL</a>
				<div class="px-3">{% include "_partials/_retangle.svg.twig"%}</div>
				<a href="#">1-800-8990</a>
			</div>
			<div class="flex justify-between px-3 py-1 max-h-fit">
				<div>{% include "_partials/_logo.svg.twig"%}</div>
				<div class="flex items-end justify-end">
					<div class="sm:flex md:hidden">
						<button class="hamburger hamburger--squeeze" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>


					<div class="justify-between hidden font-medium items-center md:flex w-96">
						<a href="#">Our Company</a>
						<a href="#">Our Services</a>
						<button class="h-12 w-36 text-white rounded bg-plum-gradient">
							Schedule a Call
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>
