<header id="site-header" class="max-w-screen-lg mx-auto">
	<section class="flex flex-row items-center md:justify-end justify-center md:bg-white bg-plum-lightest ">
		{% set h1_css = "text-sm leading-5 font-semibold tracking-[2%] text-plum m-2.5" %}
		<h1 class="{{ h1_css }}">
			CLIENT PORTAL
		</h1>
		{% include "_partials/_line.svg.twig" %}
		<h1 class="{{ h1_css }}">
			1-800-800-8990
		</h1>
	</section>
	<section class="flex flex-row items-center md:justify-between justify-evenly my-2 md:mx-7">
		<div class="">
			{% include "_partials/_logo_black.svg.twig" %}
		</div>
		<button onclick="addClass()" id="button" class="hamburger hamburger--squeeze self-end md:hidden" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner !bg-plum before:!bg-plum after:!bg-plum"></span>
			</span>
		</button>
	</span>
</button>
<nav class="hidden md:flex md:self-end">
	<ul class="flex flex-row gap-4 items-center">
		{% for n in [
                { url: '#', text: 'Our Company' },
                { url: '#', text: 'Our Services' },
              ] %}
			<li>
				<a href="{{ n.url }}" class="leading-5 font-medium text-lg">
					{{ n.text}}
				</a>
			</li>
		{% endfor %}
		<li class="text-white bg-plum-gradient h-16 flex items-center p-5 rounded-md">
			<a href="#" class="leading-5 font-medium text-lg">
				Schedule a Call
			</a>
		</li>
	</ul>
</nav></section></header><script>function addClass() {
const button = document.querySelector('#button');
if (button.classList.contains('is-active')) {
button.classList.remove('is-active');
return
}
button.classList.add('is-active');
}</script>
