<footer id="site-footer" class="text-white p-7 bg-plum-gradient">
  <section class="mx-auto max-w-narrow">
    <div class="relative flex flex-col gap-7 lg:flex-row lg:justify-between lg:min-h-[160px]">
      <div>
        <a href="/" class="inline-flex flex-grow-0">
          {% include '_partials/_logo_white.svg.twig' %}
        </a>
      </div>

      <div class="lg:hidden">
        <ul class="flex flex-col gap-4">
          {% for n in [
            { url: '#', text: 'Our Company' },
            { url: '#', text: 'Our Services' },
            { url: '#', text: 'Schedule a Call' }
          ] %}
            <li>
              <a href="{{ n.url }}"
                class="text-white no-underline font-bold text-[22px] leading-[27px] tracking-[2px] hover:text-plum-lightest hover:opacity-80">
                {{ n.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <nav class="flex-1 lg:max-w-[635px] lg:flex lg:items-center">
        <ul class="flex flex-col gap-4 lg:flex-row lg:flex-wrap lg:gap-x-0">
          {% for n in secondaryNav %}
            <li class="w-full lg:w-1/2">
              <a href="{{ n.url }}"
                class="text-white no-underline font-medium tracking-[2px] lg:font-bold hover:text-plum-lightest hover:opacity-80">
                {{ n.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <div class="flex flex-row gap-4 lg:absolute lg:bottom-0">
        <a href="#" class="transition-opacity hover:opacity-80">
          {% include '_partials/_facebook_icon.svg.twig' %}
        </a>
        <a href="#" class="transition-opacity hover:opacity-80">
          {% include '_partials/_linkedin_icon.svg.twig' %}
        </a>
      </div>
    </div>
  </section>
</footer>
