<footer id="site-footer" class="bg-plum-gradient text-white">
  <section class="max-w-narrow mx-auto">
    <div class="p-7">
      <div class="relative flex flex-col gap-7 md:flex-row md:min-h-[160px] md:justify-between">
        <div>
          <a href="/">
            {% include "_partials/_logo_white.svg.twig" %}
          </a>
        </div>
        <div class="md:hidden">
          <ul class="flex flex-col gap-4">
            {% for nav in [
              { url: '#', text: 'Our Company'},
              { url: '#', text: 'Our Services'},
              { url: '#', text: 'Schedule a Call'},
              ] %}
            <li class="font-bold text-[22px]">
              <a href="{{ nav.url }}">{{ nav.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <nav class="flex-1 md:max-w-[630px] md:flex md:items-center">
          <ul class="flex flex-col gap-4 md:flex-row md:flex-wrap md:gap-x-0">
            {% for nav in [
              { url: '#', text: 'Client Portal'},
              { url: '#', text: 'Make a Payment'},
              { url: '#', text: 'Report a Claim'},
              { url: '#', text: 'Request Certificate/Binder'},
              { url: '#', text: 'Contact'},
              { url: '#', text: 'Blog'},
              { url: '#', text: 'Carros'},
              { url: '#', text: 'Carres'},
              ] %}
              <li class="w-full md:w-1/2">
                <a href="{{ nav.url }}" class="font-medium trancking-[2px] md:font-bold">{{ nav.text }}</a>
              </li>
            {% endfor %}
        </nav>

        <div class="flex flex-row gap-4 md:absolute md:bottom-0">
        <a href="/">
          {% include "_partials/_facebook_icon.svg.twig" %}
        </a>
        <a href="/">
          {% include "_partials/_linkedin_icon.svg.twig" %}
        </a>
      </div>
    </div>
    </div>
  </section>
</footer>
