<header id="site-header">
  <section class="max-w-screen-lg mx-auto">
    <div class="bg-plum-lightest overflow-x-auto md:bg-transparent">
      <ul
        class="flex flex-row divide-x-2 divide-plum-light py-2  justify-center md:justify-end">
        {% for n in [
          { url: '#', text: 'Covid'},
          { url: '#', text: 'Weather Alert'},
          { url: '#', text: 'Weather Alert'},
          { url: '#', text: 'client portal'},
          { url: 'tel:1-800-800-8990', text: '1-800-800-8990'},
          ] %}
        <li class="px-5 flex-none">
          <a href="{{ n.url }}" class="font-semibold text-sm text-plum uppercase">{{ n.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="flex flex-row pt-1 px-3 justify-between items-center">
        <div class="flex flex-col">
          <a href="/">
            {% include "_partials/img/_logo_color.svg.twig" %}
          </a>
        </div>
        <div class="flex flex-col justify-end md:hidden">
          <button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
          <nav class="flex-1 md:max-w-[485px] hidden md:block md:items-center">
            <ul class="flex flex-col items-center md:flex-row">
              <li class="p-2 font-medium"><a href="#" class="p-3 hover:bg-plum rounded-lg hover:text-white">Our Company</a></li>
              <li class="p-2 font-medium"><a href="#" class="p-3 hover:bg-plum rounded-lg hover:text-white">Our Services</a></li>
              <li class="p-2">
                <a href="#">
                  <button class="rounded-lg bg-plum p-5 hover:bg-plum-dark
                  text-white font-semibold">
                    Schedule a Call
                  </button>
                </a>
              </li>
          </ul>
        </nav>
    </div>
  </section>
</header>
