{% extends '_layouts/_content_title_page.twig' %}

{% set sectionJobs %}
  <div class="redactor">
    <p>
      If you think all insurance is the same, think again. There are a number of
      areas that you can specialize in that match your interests and have a huge
      opportunity for growth and revenue. At Murray & MacDonald, you'll have a
      number of opportunities to advance your career. This includes ownership,
      paid time off, and more.
    </p>
  </div>
  {% include '_blocks/_accordions.twig' with {
    blk: {
      accordions: [
        { heading: 'Excellent Benefits', contents: '<p>Your Markup</p>' },
        { heading: 'Positive Work Culture', contents: '<p>Your Markup</p>' },
        { heading: 'Professional Development', contents: '<p>Your Markup</p>' }
      ]
    }
  } %}
{% endset %}https://placeholder.pics/svg/800x450/DEDEDE/DEDEDE/%20{% set entry = {
  title: 'Is a career in the insurance industry right for you?',
  coverPicture: 'https://placeholder.pics/svg/800x450/DEDEDE/DEDEDE/%20',
  videoUrl: 'https://www.youtube.com/watch?v=-NAhnxRdMuQ',
  pageIntro: '
    <div class="redactor">
      <p>
        If you like being independent, the answer is "yes." As an independent insurance agent, you have freedom of schedule, no caps on income, lots of opportunity, and the ability to control your destiny.
      </p>
    </div>
  ',
  contentBlocks: [
    {
      type: 'sectionFeature',
      heading: 'Not just a job, a career.',
      coverPicture: 'https://placeholder.pics/svg/640x448/DEDEDE/DEDEDE/%20',
      contents: sectionJobs
    }
  ]
} %}

{% block subcontent %}
  {% include '_assembled/_footer_cta.twig' %}
{% endblock %}
