{% extends 'page.twig' %}

{% set carrerInfo %}
  <div class="redactor">
    <p>
      If you think all insurance is the same, think again. There are a number of areas that you can specialize in that match your interests and have a huge opportunity for growth and revenue. At Murray & MacDonald, you'll have a number of opportunities to advance your career. This includes ownership, paid time off, and more.  </p>
    <p>
      <strong>Here’s how we can help:</strong>
    </p>
  </div>
  <div>
    {% include '_blocks/_accordion.twig' with {
      blk: {
        heading: 'Excellent Benefits',
        contents: '
        <ul>
          <li>Lorem, ipsum dolor.</li>
          <li>Odio, reiciendis itaque.</li>
          <li>Illo, magnam. Iure!</li>
          <li>Velit, ipsum numquam!</li>
          <li>Blanditiis, ea maiores?</li>
          <li>Illum, voluptatibus eligendi.</li>
          <li>Distinctio, voluptatem nam?</li>
          <li>Numquam, inventore et.</li>
        </ul>'
      }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Positive Work Culture', contents: '<p>Your Markup</p>' }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Professional Development', contents: '<p>Your Markup</p>' }
    } %}
  </div>
{% endset %}


{% set carrerForYou %}
<div class="redactor">
  <p>If you like being independent, the answer is "yes." As an independent insurance agent, you have freedom of schedule, no caps on income, lots of opportunity, and the ability to control your destiny.</p>
</div>
{% endset %}

{% set entry = {
  contentBlocks: [
    {
      type: 'sectionFeature',
      heading: 'Is a career in the insurance industry right for you?',
      coverPicture: 'https://picsum.photos/640/448?random=2',
      contents: carrerForYou,
      htag: 'h2',
      flip: true
    },
    {
      type: 'sectionFeature',
      heading: 'Not just a job, a career.',
      coverPicture: 'https://picsum.photos/640/448?random=3',
      contents: carrerInfo,
      htag: 'h2',
    },

  ]
} %}

{% block subcontent %}
  {% include '_assembled/_footer_cta.twig' %}
{% endblock %}
