{% extends '_layouts/_generic_page_layout.twig' %}

{% block headLinks %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ mix('/css/home.css') }}" />
{% endblock %}

{% block content %}
  <div class="relative home-page">
    <div class="z-0 svg-bg-1"></div>
    <div class="relative z-20 px-3 py-8">
      <div class="mx-auto max-w-narrow">
        <div class="flex flex-col gap-6 md:flex-row md:items-center md:gap-32">
          <div class="flex-1">
            <div class="flex flex-col gap-4">
              <h2 class="h2">
                Helping to insure individuals, families, businesses, and
                non-profits for over 50 years
              </h2>
              <a href="#" class="text-lg font-semibold leading-none">
                Learn More
              </a>
            </div>
          </div>
          <div class="md:w-[445px]">
            <picture class="relative">
              <img data-src="https://picsum.photos/640/448?random=1"
                alt=""
                class="object-cover w-full rounded"
                loading="lazy" />

              <button type="button"
                data-video="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                class="absolute inset-0 flex flex-col items-center justify-center bg-black rounded bg-opacity-20">
                {% include '_partials/_play_button.svg.twig' %}
              </button>
            </picture>
          </div>
        </div>

        <div class="flex flex-col md:flex-row md:gap-32 md:items-center">
          <div class="relative flex-1 block max-w-[445px] my-8">
            <div class="block w-full aspect-w-5 aspect-h-4"></div>
            <div class="absolute inset-0 w-full h-full">
              {% for b in [
                { image: 'https://randomuser.me/api/portraits/men/1.jpg' },
                { image: 'https://randomuser.me/api/portraits/men/2.jpg' },
                { image: 'https://randomuser.me/api/portraits/men/3.jpg' },
                { image: 'https://randomuser.me/api/portraits/men/4.jpg' }
              ] %}
                <div class="pic-bubble">
                  <picture>
                    <img data-src="{{ b.image }}" alt="" loading="lazy" />
                  </picture>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="flex-1">
            <div>
              <h3 class="h2">
                Insurance, advice & expertise, simplified
              </h3>
              <h5 class="h5">
                Our Agents:
              </h5>
              <div>
                <ul>
                  {% for item in [
                    'Represent top regional, national, and global insurance companies',
                    'Create effective solutions to reduce your long-term cost of risk',
                    'Help you manage your insurance program more effectively'
                  ] %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="z-0 svg-bg-3"></div>
  </div>
{% endblock %}
