{% extends "_layouts/_generic_page_layout.twig" %}

{% block headLinks %}
	{{ parent() }}
{% endblock headLinks %}

{% block content %}
<div class="bg-plum-lightest">
	<section class="max-w-screen-md mx-auto ">
		{% include "typography.twig" %}
	</section>
</div>
{% endblock %}
