{% extends "_layouts/_generic_page_layout.twig" %}

{% block headLinks %}
	{{ parent() }}
{% endblock headLinks %}

{% block content %}

	<div>content</div>
{% endblock %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
	{{ parent() }}
{% endblock bodyJs %}

	<div class="">
    <section class="max-w-screen-lg mx-auto">
      <h1 class="">content</h1>
    </section>
  </div>
{% endblock %}
