{% extends '_layouts/_generic_page_layout.twig' %}

{% block content %}
  <div class="relative home-page">
    {# Top #}
    {% include '_partials/_home_hero.twig' %}

    {# Mid-section #}
    {% include '_partials/_home_mid_cta.twig' %}

    {# Slider #}
    {% include '_partials/_cards_slider.twig' %}

    {# CTAs #}
  </div>
{% endblock %}
