{% extends "_layouts/_generic_page_layout.twig" %}

{% block headLinks %}
	{{ parent() }}
{% endblock headLinks %}

{% block content %}
	<div class="">
    <section class="max-w-screen-lg mx-auto">
      <h1 class="">content</h1>
    </section>
  </div>
{% endblock %}
