{% extends '_layouts/_generic_page_layout.twig' %}

{# DON'T MODIFY THE HOME PAGE #}

{% block content %}
  <div class="mx-auto max-w-screen-2xl">
    <h1 class="">
      Home Page
    </h1>
  </div>
{% endblock %}
