{% extends '_layouts/_generic_page_layout.twig' %}

{% block content %}
  <div class="px-3 py-8 lg:py-20">
    <article class="mx-auto max-w-narrow">
      {% if entry is defined and entry %}
        {% if entry.title and entry.showTitle == true %}
          {% include '_partials/_page_header.twig' with {
            heading: entry.title
          } %}
        {% endif %}

        {% if entry.contentBlocks is defined and entry.contentBlocks %}
          {% include '_partials/_content_blocks.twig' with {
            blocks: entry.contentBlocks
          } %}
        {% endif %}
      {% else %}
        <pre>
          entry is not defined.
        </pre>
      {% endif %}
    </article>
  </div>
{% endblock %}
