{% extends '_layouts/_content_page.twig' %}

{% set richContents %}
  <p>
    <strong>Did you get a bill from Murray & MacDonald?</strong>
    Pay online using a credit card or checking account.
  </p>
{% endset %}

{% set entry = {
  title: 'Make a Payment',
  contentBlocks: [
    {
      type: 'cta',
      contents: richContents,
      btnLink: { url: '#', text: 'Pay with ePay' }
    }
  ]
} %}

{% set payments = [] %}

{% for carrier in carriers %}
  {% set payments =
    payments|merge([carrier|merge({ url: carrier.paymentLink })])
  %}
{% endfor %}

{% block afterContentBlocks %}
  {% include '_partials/_carrier_grid.twig' with { carriers: payments } only %}
{% endblock %}
