{% extends '_layouts/_generic_page_layout.twig' %}

{% block content %}
  <section class="px-7 py-8 lg:py-20">
    <div class="mx-auto max-w-narrow">
      <div class="flex flex-col items-center justify-center aspect-w-16 aspect-h-9 bg-green">
        <div class="flex flex-col items-center justify-center w-full h-full text-3xl font-bold text-center text-white uppercase">
          Calendely<br />Embed
        </div>
      </div>
    </div>
  </section>
{% endblock %}
