{% extends 'page.twig' %}

{% set introText %}
  {% include '_blocks/_richText.twig' with {
    blk: {
      contents: '
      <p>
        Sometimes choosing the right insurance coverage for personal 
        or professional needs is complicated. We are here to advise 
        you on insurance strategies that are cost effective and lower 
        your risk.
      </p>
      '
    }
  } %}
{% endset %}

{% set individualsAndFamilies %}
  {% include '_blocks/_richText.twig' with {
     blk: {
      contents: '
      <p>
        Families and individuals need insurance to protect themselves. 
        Our insurance agents work to determine the coverage needed to insure
        your cars, homes, boats, and more.
      </p>

      <p>
        <strong>Here’s how we can help:</strong>
      </p>
    '
    }
  } %}

  <div>
    {% include '_blocks/_accordion.twig' with {
      blk: {
        heading: 'Property & Liability', contents: '<ul>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem, ipsum.</li>
        </ul>
        '
      }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Vehicles & Recreation', contents: '<p>Lorem, ipsum.</p>'}
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Life & Health', contents: '<p>Lorem, ipsum.</p>'}
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Full-Time Client', contents: '<p>Lorem, ipsum.</p>'}
    } %}
  </div>
{% endset %}

{% set BusinessesNonProfits %}
  {% include '_blocks/_richText.twig' with {
    blk: {
      contents: '
      <p>
        Whether you are a sole proprietor or a fully staffed organization,
        our direct relationships with regional, national, and global 
        insurance companies allow us to design property & casualty insurance 
        and employee benefits programs for our clients. We work to secure the 
        insurance coverage your firm will need.
      </p>

      <p>
        <strong>Here’s how we can help: </strong>
      </p>
    '
    }
  } %}

    <div>
      {% include '_blocks/_accordion.twig' with {
        blk: { heading: 'Protecting Assets', contents: '<p>Lorem, ipsum.</p>'}
      } %}
      {% include '_blocks/_accordion.twig' with {
        blk: { heading: 'Financial Solvency', contents: '<p>Lorem, ipsum.</p>'}
      } %}
      {% include '_blocks/_accordion.twig' with {
        blk: { heading: 'Professional Services', contents: '<p>Lorem, ipsum.</p>'}
      } %}
      {% include '_blocks/_accordion.twig' with {
        blk: { heading: 'Employee Protection', contents: '<p>Lorem, ipsum.</p>'}
      } %}
    </div>
  </div>
{% endset %}

{% set entry = {
   contentBlocks: [
     {
       type: 'sectionFeature',
       heading: 'Our Services',
       coverPicture: 'https://picsum.photos/640/448?random=1',
       contents: introText,
       htag: 'h1'
     },
     {
       type: 'sectionFeature',
       heading: 'Individuals & Families',
       coverPicture: 'https://picsum.photos/640/448?random=2',
       contents: individualsAndFamilies,
       flip: true
     },
     {
       type: 'sectionFeature',
       heading: 'Businesses & Non-Profits',
       coverPicture: 'https://picsum.photos/640/448?random=3',
       contents: BusinessesNonProfits
     }
   ]
} %}

{% block subcontent %}
  {% include '_assembled/_footer_cta.twig' %}
{% endblock %}