{% extends 'page.twig' %}

{% set individualsFamilies %}
  <div class="redactor">
    <p>
      Families and individuals need insurance to protect themselves. Our insurance
      agents work to determine the coverage needed to insure your cars, homes,
      boats, and more.
    </p>
  </div>
  <p>
    <strong>Here’s how we can help:</strong>
  </p>
  <div>
    {% include '_blocks/_accordion.twig' with {
      blk: {
        heading: 'Property & Liability',
        contents: '
        <ul>
          <li>Lorem, ipsum dolor.</li>
          <li>Odio, reiciendis itaque.</li>
          <li>Illo, magnam. Iure!</li>
          <li>Velit, ipsum numquam!</li>
          <li>Blanditiis, ea maiores?</li>
          <li>Illum, voluptatibus eligendi.</li>
          <li>Distinctio, voluptatem nam?</li>
          <li>Numquam, inventore et.</li>
        </ul>'
      }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Vehicles & Recreation', contents: '<p>Your Markup</p>' }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Life & Health', contents: '<p>Your Markup</p>' }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Full-Time Client', contents: '<p>Your Markup</p>' }
    } %}
  </div>

{% endset %}

{% set businessNonProfit %}
  <div class="redactor">
    <p>
      Whether you are a sole proprietor or a fully staffed organization, our direct relationships with regional, national, and global insurance companies allow us to design property & casualty insurance and employee benefits programs for our clients. We work to secure the insurance coverage your firm will need.
    </p>
  </div>
  <p>
    <strong>Here’s how we can help:</strong>
  </p>

  <div>
    {% include '_blocks/_accordion.twig' with {
      blk: {
        heading: 'Protecting Assets',
        contents: '
        <ul>
          <li>Lorem, ipsum dolor.</li>
          <li>Odio, reiciendis itaque.</li>
          <li>Illo, magnam. Iure!</li>
          <li>Velit, ipsum numquam!</li>
          <li>Blanditiis, ea maiores?</li>
          <li>Illum, voluptatibus eligendi.</li>
          <li>Distinctio, voluptatem nam?</li>
          <li>Numquam, inventore et.</li>
        </ul>'
      }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Financial Solvency', contents: '<p>Your Markup</p>' }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Professional Services', contents: '<p>Your Markup</p>' }
    } %}
    {% include '_blocks/_accordion.twig' with {
      blk: { heading: 'Employee Protection', contents: '<p>Your Markup</p>' }
    } %}
  </div>
{% endset %}

{% set ourServices %}
<div class="redactor">
  <p>
    Sometimes choosing the right insurance coverage for personal or professional needs is complicated. We are here to advise you on insurance strategies that are cost effective and lower your risk.
  </p>
 </div>
{% endset %}

{% set entry = {
  contentBlocks: [
    {
      type: 'sectionFeature',
      heading: 'Our Services',
      coverPicture: 'https://picsum.photos/640/448?random=1',
      contents: ourServices,
      htag: 'h2'
    },
    {
      type: 'sectionFeature',
      heading: 'Individuals & Families',
      coverPicture: 'https://picsum.photos/640/448?random=2',
      contents: individualsFamilies,
      htag: 'h2',
      flip: true
    },
    {
      type: 'sectionFeature',
      heading: 'Business & Non-Profits',
      coverPicture: 'https://picsum.photos/640/448?random=3',
      contents: businessNonProfit,
      htag: 'h2',
    },

  ]
} %}

{% block subcontent %}
  {% include '_assembled/_footer_cta.twig' %}
{% endblock %}
