/**
 * components/typography.css
 *
 * Typography rules.
 *
 * @Author: webrgp
 * @Date: 2022-04-28 16:07:33
 * @Last Modified by: webrgp
 * @Last Modified time: 2022-04-28 16:38:09
 *
 */

* {
  @apply antialiased;
}
