{% extends '_layouts/_generic_page_layout.twig' %}

{% block content %}
  <div class="py-8 px-7 lg:pt-20">
    <article class="mx-auto max-w-narrow">
      {% block pageHeader %}
        {% include '_partials/_blog_page_header.twig' with {
          heading: entry.title,
          coverPicture: entry.coverPicture is defined
            ? entry.coverPicture
            : null,
          postDate: entry.postDate is defined ? entry.postDate : null,
          tags: entry.tags is defined ? entry.tags : null
        } %}
      {% endblock %}

      {% block beforeContentBlocks %}

      {% endblock %}

      {% if
        entry is defined
          and entry
          and entry.contentBlocks is defined
          and entry.contentBlocks %}
        <div class="my-16 lg:my-20 max-w-[920px] mx-auto">
          {% include '_partials/_content_blocks.twig' with {
            blocks: entry.contentBlocks
          } %}
        </div>
      {% endif %}

      {% block afterContentBlocks %}

      {% endblock %}
    </article>
  </div>
{% endblock %}
