{#

Picture Block component

Usage:

{% include "_partials/_picture.twig" with {
  image: "https://picsum.photos/640/448?random=1",
} %}

#}
{% if blk is defined and blk and blk.image is defined and blk.image %}
  <div class="w-full">
    <picture>
      <img data-src="{{ blk.image }}"
        alt=""
        class="w-full rounded-md"
        loading="lazy" />
    </picture>
  </div>
{% endif %}
