{#

Input Type Tel component

Usage:

{% include "_fieldTypes/_tel.twig" with {
  field:   {
    type: 'tel',
    name: 'phone',
    label: 'Phone',
    value: '555-444-3333',
    required: true,
    error: false
  },
} %}

#}
{% if
  field is defined
    and field
    and field.type is defined
    and field.type == 'tel' %}
  <label class="block">
    {% include '_fieldTypes/_label.twig' with { field: field } only %}
    <input type="tel"
      {% include "_fieldTypes/_classAttr.twig" with { field: field } only %}
      name="{{ field.name }}"
      value="{{ field.value }}"
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
      {{ field.required is defined and field.required ? 'required' : '' }} />
  </label>
{% endif %}
